#main{
    max-width: 1280px;
    max-height: 100%;
    margin: 30px auto;
    padding:15px;
    border-radius: 5px;  
    background-image: url(./assets/milkha.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

#title{
    text-align: center;
}
h1{
    color: #f7cb0f;
}
b{
    color: #000000;
}
#main > p{
    text-align: center;
    color: white;
    font-size: larger;
}
#img_div{
    max-width: 700px;
    margin: 0 auto;
    padding: 15px;
    background-color: #ffffff;
    align-items: center;
    border: 5px solid #555;
}

#image{
    display: block;
    max-width: 100%;
    padding-bottom: 10px;
}
#tribute-info{
    max-width: 600px;
    margin: 0 auto;
}
#tribute-info > h3{
    text-align: center;
}
#tribute-info > ul li{
    margin-bottom: 10px;
    line-height: 30px;
}
h5{
    text-align: center;
}
h2{
    font-style: italic;
    text-align: justify;
    font-size: xx-large;
    color: #000000;
}
h3{
   color: #ff0000;
   font-size: x-large;  
   font-style: bold;
   font-style: italic;
}
i{
    font-style: bold;
    color:#ae0a0a;
}
